* {
  margin: 0;
  padding: 0;
  color: #03071e;
}

section {
  margin: 6rem auto;
  padding: 3rem;
  width: 30%;
  border-radius: 8px;
  background: linear-gradient(320deg, #D4EA62, #DCC24B, #E59935);
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 36px;
  margin-bottom: 1rem;
}

.calculator {
  margin-top: 2rem;
}

.calculator form>div {
  margin-bottom: 1rem;
}

p,
label {
  font-size: 18px;
}

input {
  margin-top: 12px;
  padding: 8px 8px;
  width: 95%;
}

.calculator form button {
  margin: 1rem 0 2rem;
  padding: 8px 12px;
  background-color: #ED711E;
  border: none;
  color: #D4EA62;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.calculator form button:focus {
  outline: none;
}

#result,
.warning {
  font-size: large;
}

.warning {
  color: red;
}

.calculator form button:hover {
  background-color: #c15d1a;
}

.calculator form button:active {
  transform: scale(.9);
}
